<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.superplus.managementsystem.mapper.OrdersMapper" >
  <resultMap id="BaseResultMap" type="com.superplus.managementsystem.bean.Orders" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ordername" property="ordername" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="DATE" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="orderqty" property="orderqty" jdbcType="DOUBLE" />
    <result column="orderamount" property="orderamount" jdbcType="DOUBLE" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ordername, updatetime, state, comment
  </sql>

  <select id = "getOrders" resultMap="BaseResultMap">
        SELECT * from orders where cid = #{cid}
        order by updatetime desc
  </select>

    <insert id="addOrders" parameterType="com.superplus.managementsystem.bean.Orders" >
      insert into orders (id, ordername, updatetime,
        state, comment, orderqty, orderamount,currency, cid)
      values (#{order.id,jdbcType=INTEGER}, #{order.ordername,jdbcType=VARCHAR}, #{order.updatetime,jdbcType=DATE},
        #{order.state,jdbcType=VARCHAR}, #{order.comment,jdbcType=VARCHAR},#{order.orderqty,jdbcType=DOUBLE},
        #{order.orderamount,jdbcType=DOUBLE},#{order.currency,jdbcType=DOUBLE}, #{cid, jdbcType=INTEGER})
    </insert>

  <select id="getOrdersId" resultType="Long">
    select MAX(id) from orders
  </select>


<update id="updateOrders" parameterType="map">
      update orders
      <set >
        <if test="order.ordername != null" >
          ordername = #{order.ordername,jdbcType=VARCHAR},
        </if>
        <if test="order.updatetime != null" >
          updatetime = #{order.updatetime,jdbcType=DATE},
        </if>
        <if test="order.state != null" >
          state = #{order.state,jdbcType=VARCHAR},
        </if>
        <if test="order.comment != null" >
          comment = #{order.comment,jdbcType=VARCHAR},
        </if>
        <if test="order.orderqty != null" >
          orderqty = #{order.orderqty,jdbcType=DOUBLE},
        </if>
        <if test="order.orderamount != null" >
          orderamount = #{order.orderamount,jdbcType=DOUBLE},
        </if>
        <if test="order.currency != null" >
          currency = #{order.currency,jdbcType=VARCHAR},
        </if>
      </set>
        where id = #{order.id}
</update>

  <delete id="deleteOrder">
    delete  from orders where id = #{id}
  </delete>

<!--  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.superplus.managementsystem.bean.OrdersExample" >-->
<!--    select-->
<!--    <if test="distinct" >-->
<!--      distinct-->
<!--    </if>-->
<!--    <include refid="Base_Column_List" />-->
<!--    from orders-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Example_Where_Clause" />-->
<!--    </if>-->
<!--    <if test="orderByClause != null" >-->
<!--      order by ${orderByClause}-->
<!--    </if>-->
<!--  </select>-->
<!--  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >-->
<!--    select -->
<!--    <include refid="Base_Column_List" />-->
<!--    from orders-->
<!--    where id = #{id,jdbcType=INTEGER}-->
<!--  </select>-->
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >-->
<!--    delete from orders-->
<!--    where id = #{id,jdbcType=INTEGER}-->
<!--  </delete>-->
<!--  <delete id="deleteByExample" parameterType="com.superplus.managementsystem.bean.OrdersExample" >-->
<!--    delete from orders-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Example_Where_Clause" />-->
<!--    </if>-->
<!--  </delete>-->
<!--  <insert id="insert" parameterType="com.superplus.managementsystem.bean.Orders" >-->
<!--    insert into orders (id, ordername, updatetime, -->
<!--      state, comment)-->
<!--    values (#{id,jdbcType=INTEGER}, #{ordername,jdbcType=VARCHAR}, #{updatetime,jdbcType=DATE}, -->
<!--      #{state,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR})-->
<!--  </insert>-->
<!--  <insert id="insertSelective" parameterType="com.superplus.managementsystem.bean.Orders" >-->
<!--    insert into orders-->
<!--    <trim prefix="(" suffix=")" suffixOverrides="," >-->
<!--      <if test="id != null" >-->
<!--        id,-->
<!--      </if>-->
<!--      <if test="ordername != null" >-->
<!--        ordername,-->
<!--      </if>-->
<!--      <if test="updatetime != null" >-->
<!--        updatetime,-->
<!--      </if>-->
<!--      <if test="state != null" >-->
<!--        state,-->
<!--      </if>-->
<!--      <if test="comment != null" >-->
<!--        comment,-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides="," >-->
<!--      <if test="id != null" >-->
<!--        #{id,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="ordername != null" >-->
<!--        #{ordername,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="updatetime != null" >-->
<!--        #{updatetime,jdbcType=DATE},-->
<!--      </if>-->
<!--      <if test="state != null" >-->
<!--        #{state,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="comment != null" >-->
<!--        #{comment,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
<!--  <select id="countByExample" parameterType="com.superplus.managementsystem.bean.OrdersExample" resultType="java.lang.Integer" >-->
<!--    select count(*) from orders-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Example_Where_Clause" />-->
<!--    </if>-->
<!--  </select>-->
<!--  <update id="updateByExampleSelective" parameterType="map" >-->
<!--    update orders-->
<!--    <set >-->
<!--      <if test="record.id != null" >-->
<!--        id = #{record.id,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="record.ordername != null" >-->
<!--        ordername = #{record.ordername,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="record.updatetime != null" >-->
<!--        updatetime = #{record.updatetime,jdbcType=DATE},-->
<!--      </if>-->
<!--      <if test="record.state != null" >-->
<!--        state = #{record.state,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="record.comment != null" >-->
<!--        comment = #{record.comment,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--    </set>-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Update_By_Example_Where_Clause" />-->
<!--    </if>-->
<!--  </update>-->
<!--  <update id="updateByExample" parameterType="map" >-->
<!--    update orders-->
<!--    set id = #{record.id,jdbcType=INTEGER},-->
<!--      ordername = #{record.ordername,jdbcType=VARCHAR},-->
<!--      updatetime = #{record.updatetime,jdbcType=DATE},-->
<!--      state = #{record.state,jdbcType=VARCHAR},-->
<!--      comment = #{record.comment,jdbcType=VARCHAR}-->
<!--    <if test="_parameter != null" >-->
<!--      <include refid="Update_By_Example_Where_Clause" />-->
<!--    </if>-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKeySelective" parameterType="com.superplus.managementsystem.bean.Orders" >-->
<!--    update orders-->
<!--    <set >-->
<!--      <if test="ordername != null" >-->
<!--        ordername = #{ordername,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="updatetime != null" >-->
<!--        updatetime = #{updatetime,jdbcType=DATE},-->
<!--      </if>-->
<!--      <if test="state != null" >-->
<!--        state = #{state,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="comment != null" >-->
<!--        comment = #{comment,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--    </set>-->
<!--    where id = #{id,jdbcType=INTEGER}-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="com.superplus.managementsystem.bean.Orders" >-->
<!--    update orders-->
<!--    set ordername = #{ordername,jdbcType=VARCHAR},-->
<!--      updatetime = #{updatetime,jdbcType=DATE},-->
<!--      state = #{state,jdbcType=VARCHAR},-->
<!--      comment = #{comment,jdbcType=VARCHAR}-->
<!--    where id = #{id,jdbcType=INTEGER}-->
<!--  </update>-->
</mapper>